*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Roboto Condensed', sans-serif;
		color: darkslategrey;

}
.body-wrapper{
	max-width: 90%;
	margin: auto;
}
.header{
	display:flex;
	justify-content: flex-start;
	padding: 20px 0;
	text-transform: uppercase;
	align-items: center;
}
.logo{
	flex: 0 0 30%;
	font-weight: bold;
	font-size: 1.5rem;
}
.logo--contrast{
	color:brown;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-transform: capitalize;
}
.menu__item{
	padding: 5px 10px;
	border: 1px solid white;
}

.menu__item:hover{
	border:1px solid brown;
}
.logo:hover{
	filter: invert(100%);
}
.burger{
	margin-left: auto;
	width: 2rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.burger__line{
	width:100%;
	height: 0.5rem;
	background-color: brown;
	border-radius: 5px;
}

.welcome{
	height: calc(100vh - 72px);
	
}

.ra-slider {
	height: 100%;
	position: relative;
}

.ra-slider__item{
	display: flex;
	height: 100%;
	position: relative;
	
}
.ra-slider__box--left{
	flex: 0 0 30%;
}
.ra-slider__img{
	height: 100%;
}

.ra-slider__img img{
	height: 100%;
		object-fit: contain;
width: 100%;
}
.ra-slider__title{
	position: absolute;
	top:10%;
	display: flex;
	flex-direction: column;
	
}
.ra-slider__sup-title{
	font-size: 5rem;
	font-weight: light;
}
.ra-slider__title-big{
	font-size: 10rem;
	color: black;
	font-weight: bold;
}
.blue-bg{
	background-color: #8bcfff;
}

.ra-slider__controls{
		position: absolute;
	bottom:30px;

}
.ra-slider__btn{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: white;
	background-color: darkslategrey;
}
.ra-slider__btn--red{
	background-color: brown;
	margin-left: 1rem;
}