/*styles*/

/*global styles*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Roboto Condensed', sans-serif;
		color: darkslategrey;

}
.body-wrapper{
	max-width: 90%;
	margin: auto;
}

/*header styles*/
.header{
	display:flex;
	justify-content: flex-start;
	padding: 20px 0;
	text-transform: uppercase;
	align-items: center;
}
/*header styles LOGO*/
.logo{
	flex: 0 0 30%;
	font-weight: bold;
	font-size: 1.5rem;
}
.logo--contrast{
	color:brown;
}
.logo:hover{
	filter: invert(100%);
}
/* heder styles MENU*/
.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-transform: capitalize;
}
.menu__item{
	padding: 5px 10px;
	border: 1px solid white;
}

.menu__item:hover{
	border:1px solid brown;
}
/*header styles BURGER*/
.burger{
	margin-left: auto;
	width: 2rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.burger__line{
	width:100%;
	height: 0.5rem;
	background-color: brown;
	border-radius: 5px;
}


/*WELCOME SECTION styles*/
.welcome{
	height: calc(100vh - 72px);
	overflow: hidden;
	min-height: 500px;
	padding-bottom: 5px;

}
/* slider styles*/
.ra-slider {
	height: 100%;
	position: relative;
}
/*slider main block*/
.ra-slider__item{
	display: flex;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
opacity: 0;
visibility: hidden;}


/*slider controls*/
.ra-slider__controls{
		position: absolute;
	bottom:30px;
	z-index: 3;

}
.ra-slider__btn{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: white;
	background-color: darkslategrey;
}
.ra-slider__btn--red{
	background-color: brown;
	margin-left: 1rem;
}
	

/*slider left part*/
.ra-slider__box--left{
	flex: 0 0 30%;
	z-index: 2;
}
.ra-slider__header{
	position: absolute;
	top:10%;
	display: flex;
	flex-direction: column;	
}
.ra-slider__sub{
	font-size: 5rem;
	font-weight: light;
}
.ra-slider__title{
	font-size: 10rem;
	color: black;
	font-weight: bold;
}
/*slider right part*/
.ra-slider__box--right{
	height: 100%;
}

.ra-slider__img{
	height: 100%;
		object-fit: contain;
width: 100%;
}

.blue-bg{
	background-color: #8bcfff;
}
.pink-bg{
	background-color: #f27d9b;
}
.green-bg{
	background-color: #7fbc00;
}

.active{
opacity: 1;
	visibility: visible;
}

